///////////////////////////////////////////////////////////
////////////////////// VARIABLES  :                      //
////////////////////// THEME GENERAL :                   // 
///////////////////////////////////////////////////////////
$font-game:Better, Arial, Helvetica, sans-serif;
$general-color1:rgb(0, 255, 234);
$general-color2:rgb(73, 71, 57);
$general-color3:white;
$overlay-bkgnd: rgba(0,0,0,.9);
///////////////////////////////////////////////////////////
////////////////////// THEME DETAIL :                    // 
///////////////////////////////////////////////////////////
// pour modifier le theme un peu plus en détail :
//couleur de fond
$bkgnd-color1: $general-color3;
$bkgnd-color2: $general-color2;
//couleur titre + taille + facteur division si ecran < 600px (cf section @media)
$title-color:$general-color1;
$title-size:3em;
$title-size-min-division:2;
// pour le chrono et le nombre de clicks(affichage désactivé pour le click)
$info-game-color:$general-color1;
// taille des cartes
$card-width:100px;
$card-height:100px;
// division taille carte si ecran < 600px
$card-width-min-division:1.5;
$card-height-min-division:1.5;
// arrondir les bordure de carte
$card-radius:25%;
// couleur carte face
$card-front-color:$general-color3;
// couleur bordure carte
$card-border-color: $general-color3;
// couleur dos de carte
$card-back-color1:$general-color1;
$card-back-color2:$general-color2;
// pourcentage pour animation ornement au survol souris
$ornment-animation: 50%;
// couleur font surcouches
$overlay-font-color:$general-color1;
// couleur bouton lancement jeu
$overlay-button-color:$general-color1;
// couleur font bouton lancement jeu
$overlay-button-font-color:$general-color3;
// couleur font et focus de la zone texte pour entrer le pseudo (qui sera plus clair pour focus grace à la fonction lighten() ) 
$overlay-input-color:$general-color1;
// taille texte pour ecran > 600px
$overlay-text-size1:6em;
// taille texte principale surcouche quand ecran small
$overlay-text-size1-small:.7em;
$overlay-text-size2:.3em;

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
////////////////////// SECTION GENERALE :                    ////
///////////////////// *, fonts, body, h1, html, .titre-game  ////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

// Pour nous faciliter la mise en page et ne pas s'embeter avec calcul padding et border
// cf :  https://developer.mozilla.org/fr/docs/Web/CSS/box-sizing
* {
    box-sizing: border-box;
}

// on importe nos font
@font-face{
    font-family:"Better";
    src: url("../assets/fonts/better_phoenix_sample.woff") format("woff"), 
    url("../assets/fonts/better_phoenix_sample.ttf") format("ttf")
}

// pour notre titre principal
h1{
    font-weight: normal;
    margin-top:2%;
}

// On applique une couleur de fond en dégradé
 body {
    margin:0;
    background: radial-gradient($bkgnd-color1, $bkgnd-color2);
 }

 // Et pour que ce dégradé ne se répete pas et fasse toute la taille de l'écran : 
 html {
    min-height: 100vh;    
    // cf : https://developer.mozilla.org/fr/docs/Web/CSS/length 
    // pour unitée vh
 }

 // on s'occupe de styliser notre titre :
 .titre-game {
    color:$title-color;
    font-family: $font-game;
    text-align:center;
    font-size: $title-size;
 }

///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
////////////////////// SECTION CONTENEURS et INFO GAME : //           
///////////////////// .info-game,                        //
///////////////////// . conteneneur-game                 //
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////


 // on stylise nos informations de jeux
 .info-game {
    color:$info-game-color;
    font-family: $font-game;
    font-weight: normal; // par defaut les h1 sont gras !
    text-align:center;
    font-size: 1.5em;
 }

.conteneur-game{
    // on utilisera les grid pour positionner nos cartes
    // cf : https://www.w3schools.com/css/css_grid.asp
    display : grid ; // affichage sous forme de grilles
    margin : 50px;
    justify-content: center; // on centre
    grid-template-columns: repeat(4, auto); // 4 colones qui s'ajusteront quelque soit la taille de leur élément interne
    grid-gap : 10px; // on séparte chaque éléments aevc un gap de 10pc
    //perspective: 500px; // pour la rotation 3d des cartes
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
///////////////////// SECTION CARTES :                   //
///////////////////// .carte,                            //
///////////////////// .carte-style,                      //
///////////////////// .conteneneur-game,                 //
///////////////////// .carte.visible .carte-cache,       //
///////////////////// .carte.visible .carte-revele,      //
///////////////////// .carte.match .valeur-carte,        //
///////////////////// .carte-revele,                     //
///////////////////// .carte-revele:hover .valeur-carte, //
///////////////////// .carte-cache,                      //
///////////////////// .ornement,                         //
///////////////////// .ornement-haut,                    //
///////////////////// .ornement-bas,                     //
///////////////////// .valeur-carte,                     //
///////////////////// .carte-cache:hover .ornement       //
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////

// on s'occupe de nos cartes : 
.carte{
    position:relative; // nos elements carte-cache et .carte-revele seront absolute dans .carte
    // cf : https://developer.mozilla.org/fr/docs/Web/CSS/position
    height: $card-height;
    width: $card-width;
    border-radius: $card-radius;
    ////////// GESTION DE LA ROTATION DE LA CARTE CACHé / CARTE RéVéLé
    // changer visible pendant dévelopement par :hover pour avoir aperçu en direct.
    &.visible{
        .carte-cache{
            transform: rotateY(-180deg);
        }
        .carte-revele{
            transform: rotateY(0);  
        }
    }
}

// on definit les regles de style generale pour les boutons
.carte-style{
    position:absolute; // pour la supperposition des ornements
    width: $card-width;
    height: $card-height;
    display:flex; //pour se faciliter la dispositions des ornements
    // cf : https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Flexible_Box_Layout/Concepts_de_base_flexbox
    justify-content:center;
    align-items: center;
    overflow:hidden; // on cache tout ce qui pourrait sortir de la carte
    backface-visibility: hidden;// on permet a la carte révélée d'etre caché par sa rotation à 180degres
    transition: transform 200ms ease-in-out;//pour transition carte retourné
}

//section animation quand le match est bon 
 .carte.match .valeur-carte{
     animation : dance 0.8s linear infinite 200ms;
 }
 // suite animation match (definition de l'animation "dance")
 @keyframes dance {
0%, 100% {
    transform:  rotate(0);
    }
25% {
    transform:  rotate(-20deg); 
    }
75% {
    transform:  rotate(30deg); 
    }
}

// section carte révélée : 
.carte-revele{
    border-radius: $card-radius;  
    background-color: $card-front-color;
    transform: rotateX(180deg); // on cache la carte revele en la tournant a 180degres
    // gestion mini anim survol carte révélé
    &:hover .valeur-carte{
        transform:scale(1);
    }
}

// section carte cachée : 
.carte-cache{
    // petit gradient de couleur pur le style.
    background: linear-gradient($card-back-color1, $card-back-color2);
    border-radius: $card-radius;    
    border-style: solid;
    border-color: $card-border-color; 
    transition :all 0.3s ease-in-out ; // transition pour couleur border
    &:hover .ornement{
            width:$ornment-animation; // animation ornements
    }
    &:hover {
        border-color: lighten($card-border-color, 20);
    }
}

// gestion des ornements
.ornement{
    position:absolute;
    width: 80%;
    transition: width 200ms ease-in-out ; // on prépare la petite
    // animation de survol avec les ornements
}

// placement des ornements hauts et bas 
.ornement-haut{
    top:0;
    // height: 100%;
}

.ornement-bas{
    transform: rotateX(180deg);
    bottom:0;
    // height: 100%;
}

// et gestion de l'image fruit
.valeur-carte{ // classe de tt les images de fruits
    transition: transform 200ms ease-in-out ;
    transform:scale(.9); // pour gestion survol carte revelé
    border-radius: $card-radius; 
    width: $card-width;
    height: $card-height;
    border-style: solid;
    border-color: $card-border-color;
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
////////////////////// SECTION OVERLAY :                 //
///////////////////// .surcouche-info,                   //
///////////////////// .surcouche-info.visible,           //
///////////////////// . conteneneur-game,                //
///////////////////// .surcouche-petit-texte,            // 
///////////////////// .surcouche-texte-principal,        // 
///////////////////// #texte-game-over,                  // 
///////////////////// #texte-victoire,                   //
///////////////////// .surcouche-info,                   // 
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
// start game // restart // game over // victory

.surcouche-info {
display:none;// non visible
position : fixed; 
top : 0;
bottom: 0;
left:0;
right:0;
//justify-content: center;
//align-items: center;
z-index:100;
color:$overlay-font-color;
font-family: $font-game;

    &.visible{
        display:flex; // visible si classe visible
        flex-direction : column;
        animation : surcouche-anim 500ms forwards ;
    }
}
// animation des overlays (definition animation "surcouche-anim"
@keyframes surcouche-anim {
    from {
        background-color: rgba(0,0,0,0);
        font-size:1em;
    }
    to {
        background-color: $overlay-bkgnd;
        font-size:$overlay-text-size1;
    }
}

// taille petite texte sur-couche
.surcouche-petit-texte {
font-size: $overlay-text-size2;
}
// taille petite texte sur-couche
.surcouche-texte-principal{
    padding-top: 10%;

}

// on aligne les texte des differentes surcouches
#texte-game-over{
text-align:center;
}

#texte-victoire{
text-align:center; 
}

.surcouche-info{
    text-align:center;
}

///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
////////////// SECTION OVERLAY TEXTE LANCEMENT (surcouche lancement jeu) // 
////////////// #texte-lancement,                                         //
////////////// #inputPseudo,                                             // 
////////////// #btnStart,                                                // 
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
#inputPseudo{ // input pseudo
    width: 75%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    transition-duration: 0.2s;
    font-size:.3em;
    font-family: $font-game;
    color: $overlay-button-color;
    text-align:center;
    &:focus {
        background-color: lighten($overlay-input-color, 40);
      
    }
}

#btnStart{ // bouton lancement 
    margin-right: auto;
    margin-left: auto;
    border-color: $overlay-button-color;
    font-size:.3em;
    font-family: $font-game;
    width: 25%;
    margin-top: 50px;
    background-color: $overlay-button-font-color;
    color: $overlay-button-color;
    transition-duration: 0.4s;
    &:hover{
        background-color: $overlay-button-color;
        color: $overlay-button-font-color;
    }  
    
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
/////////////////////// SECTION PROGRESS BAR :            //
/////////////////////// .info-game-chrono,                // 
/////////////////////// #temps-restant,                   // 
/////////////////////// #progress-bar-circulaire,         // 
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.info-game-chrono{
    position: relative;
    margin-top:100px;
    width:100%;
    height:100%;
}
#temps-restant{
    position:absolute;
    @extend .info-game; // on prend toute les propriétés de .info-game 
    font-size:2em;
    left: 50%;
    transform: translate(-50%,-50%);
}

#progress-bar-circulaire {
    position:absolute;
    width: 100px;
    height: 100px;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }
////////////////////////////////////////////
////////////////////////////////////////////
//////// SECTION SCOREBOARD               //
//////// .tableScoreBoard                 // 
//////// th, tr, td                       // 
//////// .tableScoreBoard                 // 
//////////////////////////////////////////// 
//////////////////////////////////////////// 
.tableScoreBoard {
    font-size: 30%;
}

th, tr, td{
border: 1px solid $overlay-font-color;
border-radius:5%;
}

.tableScoreBoard{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
   width: 75%;
}

//////////////////////////////////////////////////////////////////////////// 
////////////////////////////////////////////////////////////////////////////
////////////////////// MINI SECTION info game - ESSAIS (nombre de clicks) // 
//////////////////////////////////////////////////////////////////////////// 
////////////////////////////////////////////////////////////////////////////
.conteneur-info-game-essais{
    @extend .info-game;
    display:none;
}


///////////////////////////////////////////////////////////
////////////////////// SECTION MEDIA:                   //
//////////////////////////////////////////////////////////

@media (max-width: 600px){

    .conteneur-game{ // on se place sur une grille avec 2 colones quand on a 
        // un ecran <600px
        grid-template-columns: repeat(2,auto);
    }

    .surcouche-texte-principal{
        font-size: $overlay-text-size1-small; // on diminue la taille du texte principal
    }

    .titre-game{ // on divise l
        font-size:$title-size/$title-size-min-division;
    }
    #progress-bar-circulaire {
        width: 50px;
        height: 50px;
    }
    .info-game-chrono{
        margin-top:50px;
    }
    #temps-restant{
        font-size:1em;
    }
    .carte{
        height: $card-height/$card-height-min-division;
        width: $card-width/$card-width-min-division;
    }

.carte-style{
    height: $card-height/$card-height-min-division;
    width: $card-width/$card-width-min-division;
}

.valeur-carte{
    height: $card-height/$card-height-min-division;
    width: $card-width/$card-width-min-division;
}


}